.sign-field-content {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

}

@media screen and (max-width: 992px) {
    .sign-field-content {
        width: 850px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    
    }
}


@media screen and (max-width: 768px) {
    .sign-field-content {
        width: 650px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    
    }
}