.reviews-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 647px;
    width: 900px;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    .reviews-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 647px;
        width: 900px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .reviews-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 647px;
        width: 700px;
        margin: 0 auto;
        order: 1;
    }
}